.wit-brief {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  gap: 12px;
}

.wit-brief-floating {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.wit-brief-floating>div {
  width: 280px;
  padding-bottom: 12px;
}

.wit-brief-sheet {
  padding-left: 8px;
  padding-right: 8px;
}