.wit-secondary-title {
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.wit-secondary-title-label {
  font-family: Inter-Bold, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
